#Especificacion de archivos java
*.class

#Especificacion del tipo de proyectos, en este caso netbeans
nbproject/

#Archivos a Ignorar
*_
*.lock
*.DS_Store
*.swp
*.out

# Archivos de paquete #
*.jar
*.war
*.ear
